<div class="container">

	<h2 id="btsp" class="title"> Bootstrap :</h2>
	<div class="row">

		<div class="btsp-section col-12 col-sm-5 col-md-4 col-lg-4 col-xl-4">
			<h3 class="btsp-doc btn btn-info">Ressources Doc & ebook</h3>
		</div>

		<div class="btsp-section col-12 col-sm-5 col-md-4 col-lg-4 col-xl-4">
			<h3 class="btsp-video btn btn-info">Ressources Video</h3>
		</div>

		<div class="btsp-section col-12 col-sm-5 col-md-4 col-lg-4 col-xl-4">
			<h3 class="btsp-autre btn btn-info">Autres Ressources</h3>
		</div>
	</div>
<!-- Content bootstrap docs-->
	<div class="row">
					
		<div class="card text-white border-info bg-dark mb-3 card-btsp-doc col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3	">
			<div class="card-header"> Bootstrap doc officiel</div>
		    <div class="card-body">
			    <h4 class="card-title">
			    	<a href="https://getbootstrap.com/docs/4.1/layout/overview/" >Bootstrap</a>
			    </h4>
			    <p class="card-text">
			    	 
			    </p>
		  </div>
		</div>

		<div class="card text-white border-info bg-dark mb-3 card-btsp-doc col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3	">
			<div class="card-header"> bootstrap Glyphicon</div>
		    <div class="card-body">
			    <h4 class="card-title">
			    	<a href="https://getbootstrap.com/docs/3.3/components">DocOfficiel</a>
	 				<a href="https://www.w3schools.com/bootstrap/bootstrap_ref_comp_glyphs.asp">DocW3Schools</a>
			    </h4>
			    <p class="card-text">
			    	 
			    </p>
		  </div>
		</div>
	</div>
</div>
