<div class="container">
		
		<h2 id="bootstrap" class="title"> BOOTSTRAP </h2>
		<div class="content">
			<div class="row">
			<div class="css-section col-12 col-sm-5 col-md-4 col-lg-4 col-xl-4">
				<h3 class="css-doc btn btn-info">Ressources Doc & ebook</h3>

				<div class="card border-info mb-3 css-card" style="max-width: 20rem;">
					<div class="card-header">Header</div>
				    <div class="card-body">
					    <h4 class="card-title">Secondary card title</h4>
					    <p class="card-text">
					    	Some quick example text to build on the card title and make up the bulk of the card's content.
					    </p>
				  </div>
				</div>
			</div>

			<div class="css-section col-12 col-sm-5 col-md-4 col-lg-4 col-xl-4">
				<h3 class="css-video btn btn-info">Ressources Video</h3>

				<div class="card border-info mb-3 css-card" style="max-width: 20rem;">
					<div class="card-header">Header</div>
				    <div class="card-body">
					    <h4 class="card-title">Secondary card title</h4>
					    <p class="card-text">
					    	Some quick example text to build on the card title and make up the bulk of the card's content.
					    </p>
				  </div>
				</div>
			</div>

			<div class="css-section col-12 col-sm-5 col-md-4 col-lg-4 col-xl-4">
				<h3 class="css-autre btn btn-info">Autres Ressources</h3>

				<div class="card border-info mb-3 css-card" style="max-width: 20rem;">
					<div class="card-header">Header</div>
				    <div class="card-body">
					    <h4 class="card-title">Secondary card title</h4>
					    <p class="card-text">
					    	Some quick example text to build on the card title and make up the bulk of the card's content.
					    </p>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>