<div class="container">

	<h2 id="css" class="title"> CSS :</h2>
	<div class="row">

		<div class="css-section col-12 col-sm-5 col-md-4 col-lg-4 col-xl-4">
			<h3 class="css-doc btn btn-primary">Ressources Doc & ebook</h3>
		</div>

		<div class="css-section col-12 col-sm-5 col-md-4 col-lg-4 col-xl-4">
			<h3 class="css-video btn btn-primary">Ressources Video</h3>
		</div>

		<div class="css-section col-12 col-sm-5 col-md-4 col-lg-4 col-xl-4">
			<h3 class="css-autre btn btn-primary">Autres Ressources</h3>
		</div>
	</div>
<!-- Content css docs-->
	<div class="row">
					
		<div class="card text-white border-primary bg-dark mb-3 card-css-doc col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3	">
			<div class="card-header"> Les Transition</div>
		    <div class="card-body">
			    <h4 class="card-title">
			    	<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions">
					MDN web docs</a>
			    </h4>
			    <p class="card-text">
			    	 
			    </p>
		  </div>
		</div>
	</div>
<!-- content css vdo -->
	<div class="row">
					
		<div class="card text-white border-primary bg-dark mb-3 card-css-vdo col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3	">
			<div class="card-header"> Chaine Youtube anglophone: W3Schools.com</div>
		    <div class="card-body">
			    <h4 class="card-title">
			    	Tu te souviens de (W3Schools)? ils ont une chaine youtube, <a href="https://www.youtube.com/watch?v=QqmCs2UTS8s&list=PLP9IO4UYNF0XQNx1OinMm84lyGzWSWDms">W3SchoolsCSS</a>, et ils ont fait des super vidéos sur le css 
			    </h4>
		  </div>
		</div>

		<div class="card text-white border-primary bg-dark mb-3 card-css-vdo col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3	">
			<div class="card-header">N'hesites pas a regarder aussi les ressources video htm</div>
		    <div class="card-body">
			    <h4 class="card-title">
			    	Les ressources video html (juste en haut 👆 ) contienne aussi du contenue css.
			    </h4>
		  </div>
		</div>
	</div>
<!-- content css other -->
	<div class="row">
					
		<div class="card text-white border-primary bg-dark mb-3 card-css-otre col-12 col-sm-5 col-md-4 col-lg-4 col-xl-4	">
			<div class="card-header"> Css Gradient</div>
		    <div class="card-body">
			    <h4 class="card-title">
			    	Attention ⚠️ comme l'aurais dit felix "pro-tip de bg": chaque image que tu mets sur ton site doit avoir un filtre, pour la lisibilité du texte tu mets ton image.
					Je te propose donc une premiere solution filtres CSS, <a href="https://cssgradient.io" >CssGradient</a>.

			    </h4>
			    <p class="card-text"> Petit exemple:<br>	
				linear-gradient(225deg, rgba(120,20,40,0.28) 0%, rgba(0,0,0,0) 50% )
					<ul>
						<li>Le 1e chiffre correspond à l'inclinaison du gradient</li>
						<li>Le 2e chiffre correspond à la couleur de début</li>
						<li>Les 3e et 5e chiffres correspondent à la distribution des couleurs</li>
						<li>Le 4e chiffre correspond à la couleur de fin</li>
					</ul>
				</p>
		  </div>
		</div>

		<div class="card text-white border-primary bg-dark mb-3 card-css-otre col-12 col-sm-5 col-md-4 col-lg-4 col-xl-4 ">
			<div class="card-header">UI Gradients</div>
		    <div class="card-body">
			    <h4 class="card-title">
			    	Tu n'as toujours réaliser ton rêver d'avoir le plus beau des filtres CSS? il est temps de le réaliser avec <a href="https://uigradients.com"> UIGradients</a>.
			    </h4>
			    <p class="card-text">Encore un petit exemple plus pratique:<br>
				.whatever-color-filter {<br>
					background-size: cover;<br>
					background-image: linear-gradient(135deg, rgba(X,X,X,X) 0%, rgba(X,X,X,X), 50%) #ton filtre à définir ici url('my_background_image.jpg');  #le lien de ton image
					<br>}
				</p>
		  </div>
		</div>
	</div>

</div>	