<div class="container">
<!-- _______________________________________HTML_________________________________________ -->
	<h2 id="html" class="title"> HTML :</h2>
	<div class="row">

		<div class="html-section col-12 col-sm-5 col-md-4 col-lg-4 col-xl-4">
			<h3 class="html-doc btn btn-warning">Ressources Doc & ebook</h3>
		</div>

		<div class="html-section col-12 col-sm-5 col-md-4 col-lg-4 col-xl-4">
			<h3 class="html-video btn btn-warning">Ressources Video</h3>
		</div>

		<div class="html-section col-12 col-sm-5 col-md-4 col-lg-4 col-xl-4">
			<h3 class="html-autre btn btn-warning">Autres Ressources</h3>
		</div>
	</div>
<!-- __________________________HTML DOC___________________________________________ -->
	<div class="row">
					
		<div class="card text-white border-warning bg-dark mb-3 card-html-doc col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3	">
			<div class="card-header"> W3SCHOOLS</div>
		    <div class="card-body">
			    <h4 class="card-title">
			    	<a href="https://www.w3schools.com/html/default.asp">w3schools.com</a> est une doc qui regroupe une grande majorité des langages de programmation web tel que :
			    </h4>
			    <p class="card-text">
			    	 HTML, CSS, Bootstrap, php, javascript jQuery, AJAX, AngularJS...
			    </p>
		  </div>
		</div>

		<div class="card text-white border-warning bg-dark mb-3 card-html-doc col-12 col-sm-5 col-md-4 col-lg-4 col-xl-4">
			<div class="card-header">OPENCLASSROOMS</div>
		    <div class="card-body">
			    <h4 class="card-title">
			    	<a href="https://openclassrooms.com/fr/courses/1603881-apprenez-a-creer-votre-site-web-avec-html5-et-css3">openclassrooms.com</a> est une plateforme de cours qui propose (plusieurs cours sur différents langage de programmation).
				</h4>
			    <p class="card-text">
			    	Le petit plus c'est qu'une fois inscit vous pouvez suivre plusieurs cours, tout en gardant un oeil sur votre progression.
			    </p>
		  </div>
		</div>

		<div class="card text-white border-warning bg-dark mb-3 card-html-doc col-12 col-sm-5 col-md-4 col-lg-4 col-xl-4">
			<div class="card-header">Mozilla Developer Network</div>
		    <div class="card-body">
			    <h4 class="card-title">
			    	<a href="https://developer.mozilla.org/fr/docs/Web/HTML">MDN web docs</a> 
			    	une doc Html rien de méchant, mais ça permet d'avoir différentes approches.
				</h4>
			    <p class="card-text">
			    </p>
		  </div>
		</div>

	</div>

<!-- __________________________HTML VIDEO___________________________________________ -->	
	<div class="row">

		<div class="card text-white border-warning bg-dark mb-3 card-html-vdo col-12 col-sm-5 col-md-4 col-lg-4 col-xl-4">
			<div class="card-header">Youtuber francais : Pierre Giraud.</div>
		    <div class="card-body">
			    <h4 class="card-title">
			    	Dont voici sa chaine youtube 
			    	<a href="https://www.youtube.com/watch?v=Y80juYcu3ZI&list=PLwLsbqvBlImHG5yeUCXJ1aqNMgUKi1NK3" class="share"> PIERRE-GIRAUD</a>, son un site web 
			    	<a href="https://www.pierre-giraud.com/html-css/cours-complet/cours-html-css-presentation.php">PIERRE-GIRAUD.COM</a>
			    </h4>
			    <p class="card-text">
			    	...
			    </p>
		  </div>
		</div>

		<div class="card text-white border-warning bg-dark mb-3 card-html-vdo col-12 col-sm-5 col-md-4 col-lg-4 col-xl-4">
			<div class="card-header">Youtuber francais : Grafikart</div>
		    <div class="card-body">
			    <h4 class="card-title">
			    	pareille voici sa chaine youtube 
			    	<a href="https://www.youtube.com/watch?v=X_R9y48d-OQ&list=PLjwdMgw5TTLU5x6bUs_FkyxF9vt0BWfIo" class="share"> GRAFIKART</a>, il a aussi un site web 
			    	<a href="https://www.grafikart.fr/formations/html-css">GRAFIKART.FR</a>
			    </h4>
			    <p class="card-text">
			    	...
			    </p>
		  </div>
		</div>

		<div class="card text-white border-warning bg-dark mb-3 card-html-vdo col-12 col-sm-5 col-md-4 col-lg-4 col-xl-4">
			<div class="card-header">Youtuber francais :  Jason Champagne</div>
		    <div class="card-body">
			    <h4 class="card-title">
			    	de même aussi voici sa chaine youtube 
			    	<a href="https://www.youtube.com/watch?v=u5W2NWItytc&list=PLrSOXFDHBtfE5tpw0bjMevWxMWXotiSdO" class="share"> FormationVideo</a>.
			    </h4>
			    <p class="card-text">
			    	Alors lui aussi, il a un site web, mais qui est plus personel voici quand même le lien 
			    	<a href="https://jasonchampagne.fr/">JASON-CHAMPAGNE.FR</a>, si tu veux aller jeter un oeil.
			    </p>
		  </div>
		</div>

	</div>
<!-- __________________________HTML AUTRE___________________________________________ -->
	<div class="row">
					
		<div class="card text-white border-warning bg-dark mb-3 card-html-otre col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3	">
			<div class="card-header">HTML VALIDATOR</div>
		    <div class="card-body">
			    <h4 class="card-title">
			    	<a href="https://validator.w3.org">validator.w3.org</a> est une plateforme très utile qui permet de verfier la validité de son code html (syntaxe et organisation du code) de 3 manières différentes:
			    </h4>
			    <p class="card-text">
			    	 à partir d'un lien, d'un fichier, ou directement avec le code source
			    </p>
		  </div>
		</div>

		<div class="card text-white border-warning bg-dark mb-3 card-html-otre col-12 col-sm-5 col-md-4 col-lg-3 col-xl-3">
			<div class="card-header">Google Analytics</div>
		    <div class="card-body">
			    <h4 class="card-title">
			    	<a href="https://analytics.google.com/analytics/web/provision/?authuser=0#provision/SignUp/">Google Analytics</a> est un super outil qui permet d'analyser les visites de son site.
				</h4>
			    <p class="card-text">
		
			    </p>
		  </div>
		</div>

		<div class="card text-white border-warning bg-dark mb-3 card-html-otre col-12 col-sm-5 col-md-4 col-lg-3 col-xl-3">
			<div class="card-header">Code Guide</div>
		    <div class="card-body">
			    <h4 class="card-title">
			    	<a href="http://codeguide.co">Code Guide</a> : Encore un outil super pour apprendre les règles de syntaxe à respecter en HTML</h4>
			    <p class="card-text">
			    	c'est pareil pour le css
			    </p>
		  </div>
		</div>

		<div class="card text-white border-warning bg-dark mb-3 card-html-otre col-12 col-sm-5 col-md-4 col-lg-3 col-xl-3">
			<div class="card-header">Code Pen</div>
		    <div class="card-body">
			    <h4 class="card-title">
			    	<a href="https://codepen.io/">Codepen</a> est lui aussi un super outil 😎
			    	qui permet d'écrire et de tester du code html et css en live.
			    </h4>
			    <p class="card-text">
			    	ce n'est pas beau ça ? 😏
			    </p>
		  </div>
		</div>

	</div>	
</div>